body {
    background-image: url("congruent_outline.png");
}

.indStudent {
    display: none;
}

.showStudent {
    display: block;
}


#info {
    margin-top: 25px;
    background-color: black;
    padding: 10px;
    border-radius: 25px;
}

.nav {
    padding: 10px;
}

.next{
     width: 100px;
     height: 25px;
     background-color: grey;
    float: right;
 }

.prev {
    width: 100px;
    height: 25px;
    background-color: grey;
    float: left;
}

p {
    color: grey;
}

h3 {
    color: grey;
}
